*
{
  margin: 0;
  padding: 0;
}

body, html
{
  width: 100%;
  height: 100%;
  background: url(https://source.unsplash.com/1600x900/?driving) no-repeat;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
}

.container
{
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background: #2c3e50b3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container h1
{
  color: white;
  font-size: 5em;
  font-weight: 900;
  text-transform: uppercase;
}

.container h1 span
{
  display: block;
  background: #2ecc71;
  padding: 0 10px;
}
